# Functions for director rating and actor rating

This file has the functions for finding the average rating for a director or actor of their movies before a certain year

## Unraveling the data

In [3]:
import pickle

#Edit this file path if needed but I think it should work 
file_path = '../processed_data/combined_dataset.pkl'

with open(file_path, 'rb') as file:
    data = pickle.load(file)

print(data)

                 final_title  final_budget  final_worldwide_boxoffice  \
0      !Women Art Revolution           NaN                        NaN
1        #1 Cheerleader Camp           NaN                        NaN
2               #chicagoGirl           NaN                        NaN
3                    #Horror     1500000.0                        0.0
4             #Pellichoopulu      200000.0                  5500000.0
...                      ...           ...                        ...
49861                １リットルの涙           NaN                        NaN
49862      １３号待避線より　その護送車を狙え           NaN                        NaN
49863   ２０世紀少年< 第1章> 終わりの始まり    20000000.0                 31244858.0
49864                ３－４Ｘ１０月           NaN                        NaN
49865     ＳＭガールズ セイバーマリオネットＲ           NaN                        NaN

       final_domestic_boxoffice  \
0                           NaN
1                           NaN
2                           NaN
3                           0.0
4                           NaN
...                         ...
49861                       NaN
49862                       NaN
49863                       NaN
49864                    1471.0
49865                       NaN

                                            final_genres  final_runtime  \
0                    [{'id': 99, 'name': 'Documentary'}]           83.0
1      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...           95.0
2                    [{'id': 99, 'name': 'Documentary'}]           74.0
3      [{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...           90.0
4      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...          124.0
...                                                  ...            ...
49861                      [{'id': 18, 'name': 'Drama'}]           98.0
49862  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...           79.0
49863  [{'id': 878, 'name': 'Science Fiction'}, {'id'...          142.0
49864  [{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...           96.0
49865  [{'id': 878, 'name': 'Science Fiction'}, {'id'...           30.0

                                          final_overview final_certificate  \
0      Through intimate interviews, provocative art, ...               NaN
1      A pair of horny college guys get summer jobs a...               NaN
2      From her childhood bedroom in the Chicago subu...               NaN
3      Inspired by actual events, a group of 12 year ...         Not Rated
4      Raj Kandukuri and BiG Ben Films in association...               NaN
...                                                  ...               ...
49861  15-year-old Ikeuchi Aya was an ordinary girl, ...               NaN
49862  A sharpshooter kills two prisoners in a police...         Not Rated
49863  In 1969, Kenji, an elementary school kid and h...               NaN
49864  Masaki, a baseball player and gas-station atte...         Not Rated
49865  Jr., the heir of Romana and his battle sabers ...               NaN

      final_original_language  final_rating  ...  \
0                          en           4.3  ...
1                          en           3.4  ...
2                          en           7.0  ...
3                          de           3.4  ...
4                          te           7.8  ...
...                       ...           ...  ...
49861                      ja           7.7  ...
49862                      ja           5.4  ...
49863                      ja           6.7  ...
49864                      ja           6.6  ...
49865                      ja           0.0  ...

                                    production_companies release_date  \
0                                                     []   2010-01-01
1                                                     []   2010-07-27
2                                                     []   2013-11-21
3      [{'name': 'AST Studios', 'id': 75277}, {'name'...   2015-11-20
4      [{'name': 'BigBen Films', 'id': 75835}, {'name...   2016-07-29
...                                                  ...          ...
49861                     [{'name': 'TOEI', 'id': 7260}]   2005-02-05
49862                  [{'name': 'Nikkatsu', 'id': 955}]   1960-01-27
49863  [{'name': 'Cine Bazar', 'id': 5896}, {'name': ...   2008-08-19
49864  [{'name': 'Bandai Visual Company', 'id': 528},...   1990-09-15
49865  [{'name': 'ANIMATE', 'id': 13064}, {'name': 'Z...   1995-05-21

      final_year                                               cast  \
0         2010.0  [{'cast_id': 1001, 'character': 'Herself', 'cr...
1         2010.0  [{'cast_id': 1, 'character': 'Charlene Tilton'...
2         2013.0                                                 []
3         2015.0  [{'cast_id': 0, 'character': "Alex's 12-Step F...
4         2016.0  [{'cast_id': 0, 'character': 'Prashanth', 'cre...
...          ...                                                ...
49861     2005.0  [{'cast_id': 3, 'character': '', 'credit_id': ...
49862     1960.0  [{'cast_id': 7, 'character': 'Daijiro Tamon', ...
49863     2008.0  [{'cast_id': 15, 'character': 'Kenji Endô', 'c...
49864     1990.0  [{'cast_id': 2, 'character': 'Masaki', 'credit...
49865     1995.0  [{'cast_id': 21, 'character': 'Cherry (voice)'...

                                                    crew  \
0      [{'credit_id': '52fe48c3c3a36847f8178265', 'de...
1      [{'credit_id': '52fe45c4c3a36847f80d96f3', 'de...
2      [{'credit_id': '5362c9a7c3a368156f00049f', 'de...
3      [{'credit_id': '545bbabf0e0a261fb9002212', 'de...
4      [{'credit_id': '571862bbc3a3687fd60029dd', 'de...
...                                                  ...
49861  [{'credit_id': '52fe45bfc3a36847f80d82ab', 'de...
49862  [{'credit_id': '52fe4845c3a368484e0f07f3', 'de...
49863  [{'credit_id': '57fc644ec3a368440f004c0d', 'de...
49864  [{'credit_id': '52fe4522c3a368484e04a68b', 'de...
49865  [{'credit_id': '55504222c3a3685bbf000c5c', 'de...

                        director       director_id  \
0                            NaN               NaN
1                            NaN               NaN
2                            NaN               NaN
3                   Tara Subkoff  /name/nm0836964/
4      Tharun Bhascker Dhaassyam  /name/nm5056902/
...                          ...               ...
49861                        NaN               NaN
49862              Seijun Suzuki  /name/nm0840671/
49863          Yukihiko Tsutsumi  /name/nm1066739/
49864             Takeshi Kitano  /name/nm0001429/
49865                        NaN               NaN

                                                    star  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3      Sadie Seelert, \nHaley Murphy, \nBridget McGar...
4      Abhay Bethiganti, \nKeshav Deepak, \nVijay Dev...
...                                                  ...
49861                                                NaN
49862  Michitarô Mizushima, \nMisako Watanabe, \nShôi...
49863  Toshiaki Karasawa, \nEtsushi Toyokawa, \nTakak...
49864  Takeshi Kitano, \nYûrei Yanagi, \nYuriko Ishid...
49865                                                NaN

                                                 star_id     _merge
0                                                    NaN  left_only
1                                                    NaN  left_only
2                                                    NaN  left_only
3      /name/nm6344380/,/name/nm4239131/,/name/nm5376...       both
4      /name/nm8232982/,/name/nm6642302/,/name/nm4797...  left_only
...                                                  ...        ...
49861                                                NaN  left_only
49862  /name/nm0594702/,/name/nm0913843/,/name/nm0654...  left_only
49863  /name/nm0438960/,/name/nm0870317/,/name/nm0865...  left_only
49864  /name/nm0001429/,/name/nm0648764/,/name/nm0410...  left_only
49865                                                NaN  left_only

[49866 rows x 23 columns]

## Director Rating Function

First we create a function that takes in a director name and a year, and then averages the rating of all the movies before that year:

In [6]:
def director_rating_before_year(Name, Year):
    directorname = str(Name)
    vallist = data[(data['director'] == directorname) & (data['final_year'] < (Year))]
    rating = vallist['final_rating'].mean()
    return rating

An example of using this function:

In [7]:
director_rating_before_year('Christopher Nolan', 2010)

np.float64(7.650000000000001)

## Actor Rating Function

For this first we add a 'star2' column that turns each entry of the star column into a list of strings so it can be worked with

In [9]:
data['star2'] = (data['star'].str.replace("\n","")).str.split(", ")

#Here is an example of what it looks like
data['star2'].iloc[9]

['Warren Beatty', 'Goldie Hawn', 'Gert Fröbe', 'Robert Webber']

Now we define the function:

In [10]:
def actor_rating_before_year(Name, Year):
    actorname = str(Name)
    data['star2'] = data['star2'].apply(lambda x: x if isinstance(x, list) else [])
    mask = data['star2'].apply(lambda names: actorname in names) & (data['final_year'] < Year)
    vallist = data[mask]
    rating = vallist['final_rating'].mean()
    return rating

And here are some examples

In [12]:
print(actor_rating_before_year('Tom Cruise', 2022))
print(actor_rating_before_year('Ben Stiller', 2022))

6.46969696969697
5.896551724137932

In case it helps, here is a list of all the actors, listed alphabetically:

In [30]:
ActorsTotalList = (list(set([actor for sublist in data['star2'] if isinstance(sublist, list) for actor in sublist])))
ActorsTotalList = sorted(ActorsTotalList)
print(ActorsTotalList[:10])

["'Ganja' Karuppu", "'Hurricane Ryu' Hariken", "'Little Billy' Rhodes", "'Spring' Mark Adley", "'University' Jeevan", "'Weird Al' Yankovic", '50 Cent', 'A Martinez', 'A. Michael Baldwin', 'A. Scott']

For example of one way to use this, if we4 wanted to list the first 20 actors and their actor rating this is what we would do:

In [17]:
def actorratinglistbeforeyear(Alist, Year):
    return [[actor, actor_rating_before_year(actor, Year)] for actor in Alist]

actorratinglistbeforeyear(ActorsTotalList[:20],2010)

[["'Ganja' Karuppu", np.float64(6.8)],
 ["'Hurricane Ryu' Hariken", np.float64(5.4)],
 ["'Little Billy' Rhodes", np.float64(1.0)],
 ["'Spring' Mark Adley", np.float64(6.1)],
 ["'University' Jeevan", np.float64(7.1)],
 ["'Weird Al' Yankovic", np.float64(6.7)],
 ['50 Cent', np.float64(5.975)],
 ['A Martinez', np.float64(0.0)],
 ['A. Michael Baldwin', np.float64(5.666666666666667)],
 ['A. Scott', np.float64(4.5)],
 ['A.C. Peterson', np.float64(5.5)],
 ['A.J. Buckley', np.float64(5.466666666666668)],
 ['A.J. Clarke', np.float64(6.5)],
 ['A.J. Cook', np.float64(5.3)],
 ['A.J. Langer', np.float64(5.366666666666667)],
 ['A.J. van der Merwe', nan],
 ['A.W. Baskcomb', np.float64(6.0)],
 ['AJ Bowen', nan],
 ['AJ Michalka', nan],
 ['Aachi Manorama', np.float64(5.6)]]

# Adjusting for inflation

In [18]:
 #function to adjust for inflation, input the number and year and it will say the value adjusted for inflation to 2025
def adjust_inflation(num, year):
    diff = 2025 - year
    final_num = num * (1.0325)**diff
    return final_num

In [ ]:
 #heres an example
print(adjust_inflation(8000, 2024))

8260.0

In [36]:
#example applying it to the column box office
data['ww_boxoffice_adjusted'] = adjust_inflation(data['final_worldwide_boxoffice'], data['final_year'])
print(data[[ 'final_year','final_worldwide_boxoffice', 'ww_boxoffice_adjusted','final_title']][:30])

    final_year  final_worldwide_boxoffice  ww_boxoffice_adjusted  \
0       2010.0                        NaN                    NaN
1       2010.0                        NaN                    NaN
2       2013.0                        NaN                    NaN
3       2015.0                        0.0           0.000000e+00
4       2016.0                  5500000.0           7.334546e+06
5       2016.0                        NaN                    NaN
6       2014.0                        NaN                    NaN
7       2008.0                        NaN                    NaN
8       2008.0                        NaN                    NaN
9       1971.0                        NaN                    NaN
10      2013.0                        NaN                    NaN
11      1917.0                        NaN                    NaN
12      2014.0                  1625847.0           2.311375e+06
13      2005.0                        NaN                    NaN
14      1974.0                        NaN                    NaN
15      1985.0                        NaN                    NaN
16      2006.0                   966214.0           1.774126e+06
17      1934.0                        NaN                    NaN
18      1986.0                   442000.0           1.538632e+06
19      2001.0                        NaN                    NaN
20      2015.0                        NaN                    NaN
21      2001.0                        NaN                    NaN
22      1974.0                        NaN                    NaN
23      2009.0                 34515303.0           5.757748e+07
24      2011.0                        NaN                    NaN
25      2015.0                        NaN                    NaN
26      1988.0                        NaN                    NaN
27      2015.0                        NaN                    NaN
28      2009.0                   230600.0           3.846806e+05
29      1974.0                        NaN                    NaN

                           final_title
0                !Women Art Revolution
1                  #1 Cheerleader Camp
2                         #chicagoGirl
3                              #Horror
4                       #Pellichoopulu
5                         #SELFIEPARTY
6   $50K and a Call Girl: A Love Story
7                             $5 a Day
8                                $9.99
9                            $ Dollars
10                          $ellebrity
11                             '49-'17
12                                 '71
13                                 'D'
14                         'Gator Bait
15     'Master Harold'... and the Boys
16                  'N Beetje Verliefd
17            'Neath the Arizona Skies
18                      'night, Mother
19                             'R Xmas
20            'Tis the Season for Love
21                     'Twas the Night
22    'Twas the Night Before Christmas
23                (500) Days of Summer
24                           (A)Sexual
25  (Dis)Honesty: The Truth About Lies
26    (Entlastungen) Pipilottis Fehler
27                            (T)ERROR
28                          (Untitled)
29                           (秘)色情めす市場

7334545.928564244